# Ignore generated Prisma client/runtime files
src/generated/**
# Be extra explicit about Prisma runtime wasm/edge files
src/generated/prisma/**
src/generated/prisma/runtime/**
# Specific wasm-engine files
src/generated/prisma/runtime/wasm-engine-*

# Ignore build and other generated folders (keeps consistent with eslint.config.mjs)
node_modules/**
.next/**
out/**
build/**
